.home-page-container{
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 24px 0;

    .container {
        width: calc(876px - 32px);
        margin: 20px auto;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid var(--bs-border-color);
    }
}